*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: white;
	background-color: #000 !important;
	font-family: 'Roboto Slab', serif !important;
}

.container{
	color: white; 
}
.logBtn{
	background-color: rgb(129 64 161) !important;
	border: none !important; 
	border-radius: 0px !important;
}
.logBtn:hover{
    text-decoration: underline;
    transform: scale(1.1);
}
.Hero{
	background-color: rgb(129 64 161 / 49%);
}

.hr{
	padding: 1px;
}
.card{
	border: none !important; 
	box-shadow: 2px 2px 2px 2px #1b1020;
}
.card-body{
	background-color: #380d4e;
}
.card-title{
	color: white !important;
}
.card-text{
	color: white !important;
}
.dropdown-menu li a{
	font-size: 12px !important;
}
.table{
	box-shadow: 2px 2px 2px 2px #1b1020;
}

#bupBtn{
	background-color: #8b32b7 !important;
    border-color: #000 !important;
}
#bupBtn:hover{
	transform: scale(1.1);
}
.nav-link.active {
  background-color: rgb(129 64 161) !important; 
  font-weight: semibold !important;
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.fade-in.show {
  opacity: 1;
}

/*table css*/
.table-primary{
  --bs-table-color: #ededed !important;
  --bs-table-bg: #380d4e !important;
}
.btn-group-vertical>.btn, .btn-group>.btn{
	color: #fff !important;
}
/*image zoom effect css*/
.p_img:hover{
	scale: 3.5;
}